*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
.App{
  max-width: 100%;
	margin-right:auto;
	margin-left:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}

th{
  height: 60px;
}
td{
  height: 50px;
}
table{
  width: 900px;
  border: 1px solid black;
  text-align: center;
}
.tHead{
  background-color: black;
  color: white;
  width:100%;
  padding: 10px 0px;
}
.tbody{
	width:100%;
	&:nth-of-type(even) {
		background:#EEEEEE;
	}
}
